<!DOCTYPE html>
<html>
<head>
  <title>File Management System</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>
